<configuration scan="true" scanPeriod=" 5 seconds">

	<jmxConfigurator />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="COMPARE-ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>dbCompare</Key>
			<DefaultValue>dbCompare</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${dbCompare}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<File>../logs/${dbCompare}.log</File>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!-- rollover daily -->
					<fileNamePattern>../logs/%d{yyyy-MM-dd}/${dbCompare}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<maxFileSize>256MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>180</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="COMPARE-ROOT" />
	</root>
</configuration>